.u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 770px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin: 59px auto 60px 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 634px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-1 .u-rotation-parent-1 {
  width: 145px;
  height: 462px;
  margin: 0 -7px;
}

.u-section-1-1 .u-image-1 {
  width: 462px;
  height: 145px;
}

.u-section-1-1 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
  margin: 20px -20px 0 20px;
}

.u-section-1-1 .u-image-2 {
  min-height: 634px;
  background-image: url("images/fruitp.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

.u-section-1-1 .u-group-1 {
  width: 482px;
  min-height: 245px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 0 0 auto;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0 84px 0 0;
}

.u-section-1-1 .u-text-3 {
  font-style: italic;
  font-size: 3rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-1-1 .u-rotation-parent-1 {
    width: 97px;
    height: 309px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-image-1 {
    width: 48px;
    height: 48px;
    margin: 20px auto 0 0;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-image-2 {
    min-height: 523px;
  }

  .u-section-1-1 .u-text-3 {
    font-family: Lobster, display;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-rotation-parent-1 {
    width: 60px;
    height: 191px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.25rem;
  }

  .u-section-1-1 .u-image-2 {
    min-height: 401px;
  }

  .u-section-1-1 .u-group-1 {
    width: 434px;
    min-height: 215px;
    margin-top: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1-1 .u-image-2 {
    min-height: 361px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1-1 .u-group-1 {
    width: 352px;
    min-height: 210px;
    margin-top: 161px;
  }

  .u-section-1-1 .u-container-layout-3 {
    padding-top: 25px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
    font-size: 1.125rem;
  }

  .u-section-1-1 .u-text-3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-image-2 {
    min-height: 227px;
    background-position: 15.45% 100%;
  }

  .u-section-1-1 .u-group-1 {
    width: 290px;
    min-height: 181px;
    margin-top: 190px;
  }

  .u-section-1-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 8px;
  }
}.u-section-1-2 {
  background-image: none;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 770px;
}

.u-section-1-2 .u-layout-wrap-1 {
  margin: 51px auto 60px 0;
}

.u-section-1-2 .u-layout-cell-1 {
  min-height: 670px;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-2 .u-rotation-parent-1 {
  width: 147px;
  height: 499px;
  margin: 0 auto 0 -17px;
}

.u-section-1-2 .u-image-1 {
  width: 499px;
  height: 147px;
}

.u-section-1-2 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
  margin: 20px -20px 0 20px;
}

.u-section-1-2 .u-image-2 {
  min-height: 634px;
  background-image: url("images/flowers.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

.u-section-1-2 .u-group-1 {
  width: 482px;
  min-height: 245px;
  margin: 0 0 0 auto;
}

.u-section-1-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0 84px 0 0;
}

.u-section-1-2 .u-text-3 {
  background-image: none;
  font-style: italic;
  font-size: 3rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 552px;
  }

  .u-section-1-2 .u-rotation-parent-1 {
    width: 97px;
    height: 330px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-image-2 {
    min-height: 523px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-rotation-parent-1 {
    width: 60px;
    height: 204px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 4.25rem;
  }

  .u-section-1-2 .u-image-2 {
    min-height: 401px;
  }

  .u-section-1-2 .u-group-1 {
    width: 434px;
    min-height: 215px;
    margin-top: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1-2 .u-image-2 {
    min-height: 361px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1-2 .u-group-1 {
    width: 352px;
    min-height: 210px;
    margin-top: 161px;
  }

  .u-section-1-2 .u-container-layout-3 {
    padding-top: 25px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1-2 .u-image-2 {
    min-height: 227px;
    background-position: 15.45% 100%;
  }

  .u-section-1-2 .u-group-1 {
    width: 290px;
    min-height: 181px;
    margin-top: 190px;
  }

  .u-section-1-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1-2 .u-text-3 {
    margin-top: 8px;
    font-size: 2.25rem;
  }
}.u-section-1-3 {
  background-image: none;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 770px;
}

.u-section-1-3 .u-layout-wrap-1 {
  margin: 51px auto 60px 0;
}

.u-section-1-3 .u-layout-cell-1 {
  min-height: 634px;
}

.u-section-1-3 .u-container-layout-1 {
  padding: 30px 43px 30px 30px;
}

.u-section-1-3 .u-rotation-parent-1 {
  width: 145px;
  height: 438px;
  margin: 0 -29px 0 auto;
}

.u-section-1-3 .u-image-1 {
  width: 438px;
  height: 145px;
}

.u-section-1-3 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px -29px 0 29px;
}

.u-section-1-3 .u-image-2 {
  min-height: 634px;
  background-image: url("images/banner11.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

.u-section-1-3 .u-group-1 {
  width: 482px;
  min-height: 245px;
  margin: 0 0 0 auto;
}

.u-section-1-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0 84px 0 0;
}

.u-section-1-3 .u-text-3 {
  background-image: none;
  font-style: italic;
  font-size: 3rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-1-3 .u-rotation-parent-1 {
    width: 83px;
    height: 250px;
    margin-right: 0;
  }

  .u-section-1-3 .u-image-1 {
    width: 48px;
    height: 18px;
    margin: 0 auto 0 0;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-3 .u-image-2 {
    min-height: 523px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-3 .u-rotation-parent-1 {
    width: 60px;
    height: 181px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 4.25rem;
  }

  .u-section-1-3 .u-image-2 {
    min-height: 401px;
  }

  .u-section-1-3 .u-group-1 {
    width: 434px;
    min-height: 215px;
    margin-top: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1-3 .u-image-2 {
    min-height: 361px;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1-3 .u-group-1 {
    width: 352px;
    min-height: 210px;
    margin-top: 161px;
  }

  .u-section-1-3 .u-container-layout-3 {
    padding-top: 25px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 0;
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1-3 .u-image-2 {
    min-height: 227px;
    background-position: 15.45% 100%;
  }

  .u-section-1-3 .u-group-1 {
    width: 290px;
    min-height: 181px;
    margin-top: 190px;
  }

  .u-section-1-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1-3 .u-text-3 {
    margin-top: 8px;
    font-size: 2.25rem;
  }
}.u-block-7e3a-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-7e3a-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -69px);
  width: 50px;
  height: 50px;
  right: auto;
}

.u-block-7e3a-4 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + -68px);
}

@media (max-width: 1199px) {
  .u-block-7e3a-3 {
    left: calc(((100% - 940px) / 2)  + -169px);
  }

  .u-block-7e3a-4 {
    right: calc(((100% - 940px) / 2)  + -168px);
  }
}

@media (max-width: 991px) {
  .u-block-7e3a-3 {
    left: calc(((100% - 720px) / 2)  + -279px);
  }

  .u-block-7e3a-4 {
    right: calc(((100% - 720px) / 2)  + -278px);
  }
}

@media (max-width: 767px) {
  .u-block-7e3a-3 {
    left: calc(((100% - 540px) / 2)  + -369px);
  }

  .u-block-7e3a-4 {
    right: calc(((100% - 540px) / 2)  + -368px);
  }
}

@media (max-width: 575px) {
  .u-block-7e3a-3 {
    left: calc(((100% - 340px) / 2)  + -469px);
  }

  .u-block-7e3a-4 {
    right: calc(((100% - 340px) / 2)  + -468px);
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 791px;
}

.u-section-2 .u-shape-1 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  margin: 61px auto 0 -61px;
}

.u-section-2 .u-shape-2 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  margin: 169px -63px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1117px;
  margin: -579px 0 60px auto;
}

.u-section-2 .u-image-1 {
  min-height: 507px;
  pointer-events: auto;
  background-image: url("images/flower-border-template_1305-4580.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-image-2 {
  width: 340px;
  height: 333px;
  filter: brightness(0.7);
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 507px;
  pointer-events: auto;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 50px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-family: titillium-Web;
  margin: 25px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 55px 7px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 29px auto 0 0;
  padding: 15px 46px 15px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-text-1 {
    font-weight: normal;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 475px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 300px;
    height: 294px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 475px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 40px 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 405px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 40px 30px 45px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 347px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 {
  background-image: url("images/36ced675fffdf7503938e3778dc8b3ca.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1008px;
}

.u-section-3 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 649px 0 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 452px;
  height: 419px;
  background-image: none;
  margin: -839px auto 0 646px;
}

.u-section-3 .u-group-1 {
  min-height: 847px;
  width: 454px;
  margin: -419px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}

.u-section-3 .u-shape-3 {
  width: 250px;
  height: 172px;
  animation-duration: 1000ms;
  margin: -30px auto 0 -16px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -106px 235px 0 18px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 77px 49px 0 11px;
}

.u-section-3 .u-image-1 {
  width: 457px;
  height: 309px;
  animation-duration: 1000ms;
  margin: -346px 229px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 387px;
  height: 477px;
  box-shadow: 0 0 40px 0 rgba(26,26,26,0.4);
  object-position: 50% 0%;
  background-position: 50% 0%;
  animation-duration: 1000ms;
  margin: -679px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: 488px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 6px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: -162px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 806px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -996px;
    margin-left: 268px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 199px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 121px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 67px;
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 875px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -1065px;
    margin-left: 88px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 232px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 55px;
    margin-right: 28px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 28px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 1055px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    margin-top: -1245px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -161px;
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 230px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 419px;
    margin-top: -600px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 407px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 60px 169px 0;
}

.u-section-4 .u-list-1 {
  min-height: 265px;
  grid-template-rows: auto;
  height: auto;
  grid-auto-rows: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  margin: -16px -12px 0 -21px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  width: 125px;
  font-weight: 900;
  margin: -180px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 41px -30px 0 -21px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  margin: -16px -12px 0 -21px;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  width: 125px;
  font-weight: 900;
  margin: -180px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 41px -30px 0 -21px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  margin: -16px -12px 0 -21px;
}

.u-section-4 .u-text-6 {
  font-size: 3rem;
  width: 125px;
  font-weight: 900;
  margin: -180px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 41px -30px 0 -21px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  margin: -16px -12px 0 -21px;
}

.u-section-4 .u-text-8 {
  font-size: 3rem;
  width: 125px;
  font-weight: 900;
  margin: -180px auto 0;
}

.u-section-4 .u-text-9 {
  margin: 41px -30px 0 -21px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
  }

  .u-section-4 .u-shape-1 {
    margin-top: -15px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -168px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -85px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -15px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -168px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -15px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -287px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 119px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -15px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -168px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-rows: calc(50% - 5px);
  }

  .u-section-4 .u-text-3 {
    margin-top: -43px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 7.5px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-5 .u-shape-1 {
  width: 197px;
  height: 168px;
  background-image: none;
  margin: 40px auto 0 0;
}

.u-section-5 .u-shape-2 {
  width: 397px;
  height: 231px;
  background-image: none;
  margin: 656px 22px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 496px;
  box-shadow: 0 0 40px 0 rgba(26,26,26,0.4);
  margin: -1035px auto 0 18px;
}

.u-section-5 .u-image-2 {
  width: 572px;
  height: 365px;
  box-shadow: 0 0 31px 0 rgba(26,26,26,0.55);
  margin: -79px 267px 0 auto;
}

.u-section-5 .u-group-1 {
  width: 548px;
  min-height: 541px;
  margin: -782px 0 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 38px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 900;
  margin: 22px 60px 0 0;
}

.u-section-5 .u-line-1 {
  width: 64px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 46px auto 0 0;
}

.u-section-5 .u-shape-3 {
  width: 464px;
  height: 294px;
  animation-duration: 1000ms;
  margin: -26px auto 0 0;
}

.u-section-5 .u-text-2 {
  background-image: none;
  animation-duration: 1000ms;
  margin: -298px 60px 0 0;
}

.u-section-5 .u-group-2 {
  width: 301px;
  min-height: 286px;
  margin: 38px auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 0 25px;
}

.u-section-5 .u-shape-4 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  margin: 30px auto 0 -12px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -206px auto 0 0;
}

.u-section-5 .u-text-3 {
  line-height: 1.6;
  font-family: "Akaya Kanadaka";
  animation-duration: 1000ms;
  margin: -40px 20px 0 0;
}

.u-section-5 .u-group-3 {
  width: 385px;
  min-height: 420px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -286px 0 6px auto;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 21px;
  padding-right: 35px;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  margin: 20px 20px 0;
}

.u-section-5 .u-line-2 {
  width: 64px;
  height: 3px;
  transform-origin: left center 0;
  margin: 20px auto 0 20px;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  animation-duration: 1000ms;
  margin: -23px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 31px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 17px;
    padding-right: 29px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-top: 25px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-line-2 {
    width: 53px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-2 {
    margin-right: 148px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 24px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 22px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-line-2 {
    width: 40px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 470px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 345px;
    margin-top: -53px;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: -762px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 18px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 17px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 53px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-line-2 {
    width: 38px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-5 .u-shape-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 296px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 217px;
    margin-top: 121px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -634px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-5 .u-shape-3 {
    width: 330px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-5 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 26px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-line-2 {
    width: 32px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 20px;
    margin-left: 0;
  }
}.u-section-6 {
  background-image: url("images/cvbf-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 570px;
}

.u-section-6 .u-image-1 {
  width: 489px;
  height: 393px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  animation-duration: 1000ms;
  margin: -23px 241px 0 auto;
}

.u-section-6 .u-group-1 {
  min-height: 282px;
  width: 407px;
  margin: -156px 37px 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 23px;
}

.u-section-6 .u-text-1 {
  animation-duration: 1000ms;
  margin: 70px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-group-2 {
  min-height: 408px;
  width: 519px;
  margin: -363px auto 0 0;
}

.u-section-6 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/41b7b9ce42d1f846a4d6e3d2469edd04.jpeg");
}

.u-section-6 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-6 .u-text-3 {
  margin: 30px 30px 0 0;
}

.u-section-6 .u-text-4 {
  animation-duration: 1000ms;
  margin: 41px 25px 0 5px;
}

.u-section-6 .u-group-3 {
  min-height: 310px;
  width: 425px;
  height: auto;
  margin: -739px auto 60px 0;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 106px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  margin: 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 19px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-top: 35px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 35px;
  }

  .u-section-6 .u-group-2 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-top: 0;
    margin-right: 25px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
  }

  .u-section-6 .u-group-3 {
    height: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-5 {
    position: relative;
  }

  .u-section-6 .u-text-6 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 231px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 15px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 19px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 23px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 23px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1647px;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 25px;
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin: 30px 23px 25px 0;
  }

  .u-section-6 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 35px;
    margin-right: 11px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 11px;
  }

  .u-section-6 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1817px;
  }

  .u-section-6 .u-image-1 {
    height: 273px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    margin-top: -36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 15px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 56px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 25px;
    margin-right: 7px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }
}.highl {
 background-position left;
    background-size 0% 100%;
	background-image linear-gradient(yellow, yellow);}
 .highl:hover{ 
      background-size: 100% 100%
}