.u-section-1 {
  background-image: url("images/bg23.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 731px;
}

.u-section-1 .u-gallery-1 {
  width: 724px;
  height: 537px;
  margin: 148px auto 0 179px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 10px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 10px;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 10px;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 10px;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 10px;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 10px;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 788px;
  min-height: 112px;
  margin: -589px auto 60px 147px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 93px;
  width: 465px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 320px;
  }
}.u-section-2 {
  text-transform: none;
  font-size: 1rem;
  animation-duration: 1000ms;
  background-image: none;
  margin: 18px auto 0 6px;
}

.u-section-2 .u-sheet-1 {
  min-height: 889px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 181px;
  height: auto;
  animation-duration: 1000ms;
  margin: 1px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 102px;
  height: auto;
  width: 465px;
  margin: 0 auto;
}

.u-section-2 .u-products-1 {
  min-height: 729px;
  height: auto;
  grid-auto-rows: 100%;
  width: 993px;
  margin: -85px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 8.66667px);
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  grid-auto-rows: 100%;
  grid-gap: 13px 13px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 304px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -42px auto 0 62px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-family: "Akaya Kanadaka";
  margin: 26px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -12px 26px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline !important;
  margin: -88px 176px 0 6px;
}

.u-section-2 .u-text-3 {
  margin: 50px 0 0;
}

.u-section-2 .u-product-price-1 {
  text-transform: none;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 18px auto 0 6px;
}

.u-section-2 .u-repeater-item-2 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 304px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -42px auto 0 62px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-family: "Akaya Kanadaka";
  margin: 26px 0 0;
}

.u-section-2 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -12px 26px 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline !important;
  margin: -88px 176px 0 6px;
}

.u-section-2 .u-text-6 {
  margin: 50px 0 0;
}

.u-section-2 .u-product-price-2 {
  text-transform: none;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 18px auto 0 6px;
}

.u-section-2 .u-repeater-item-3 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 304px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -42px auto 0 62px;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-family: "Akaya Kanadaka";
  margin: 26px 0 0;
}

.u-section-2 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -12px 26px 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline !important;
  margin: -88px 176px 0 6px;
}

.u-section-2 .u-text-9 {
  margin: 50px 0 0;
}

.u-section-2 .u-product-price-3 {
  text-transform: none;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 18px auto 0 6px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-products-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 8.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 8.66667px));
  }

  .u-section-2 .u-image-1 {
    margin-top: -726px;
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 262px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 129px;
    margin-left: 0;
  }

  .u-section-2 .u-product-price-1 {
    border-style: solid;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-item-2 {
    padding: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 262px;
    margin-left: 9px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(241, 197, 14) !important;
  }

  .u-section-2 .u-text-5 {
    margin-right: 129px;
    margin-left: 0;
  }

  .u-section-2 .u-product-price-2 {
    border-style: solid;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-item-3 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    margin: 20px 0 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 36px;
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -40px;
    margin-left: 9px;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-8 {
    margin-right: 129px;
    margin-left: 0;
  }

  .u-section-2 .u-product-price-3 {
    border-style: solid;
    margin-left: 0;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1624px;
  }

  .u-section-2 .u-products-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 6.5000025px);
    grid-template-columns: repeat(2, calc(50% - 6.5000025px));
    grid-auto-rows: calc(50% - 6.5px);
  }

  .u-section-2 .u-image-1 {
    margin-top: -703px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2535px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-products-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 8.666666666666666px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -831px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-item-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    height: 506px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-item-3 {
    height: 506px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -154px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2146px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-2 .u-products-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    margin-top: -723px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    height: 365px;
  }

  .u-section-2 .u-repeater-item-3 {
    height: 365px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  text-transform: none;
  font-size: 1rem;
  background-image: none;
  margin: 26px auto 0 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 822px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 181px;
  height: auto;
  animation-duration: 1000ms;
  margin: 3px 282px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 102px;
  height: auto;
  width: 465px;
  margin: 14px auto 0;
}

.u-section-3 .u-products-1 {
  min-height: 685px;
  height: auto;
  grid-auto-rows: 100%;
  width: 1140px;
  margin: -84px -23px 37px auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 8.66667px);
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  grid-auto-rows: 100%;
  grid-gap: 13px 13px;
}

.u-section-3 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 304px;
  width: 311px;
  animation-duration: 1000ms;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -42px auto 0 62px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-family: "Akaya Kanadaka";
  margin: 14px 0 0;
}

.u-section-3 .u-icon-1 {
  height: 80px;
  width: 80px;
  animation-duration: 1000ms;
  margin: 0 10px 0 auto;
}

.u-section-3 .u-text-2 {
  font-family: "Akaya Kanadaka";
  font-size: 1.875rem;
  margin: -72px 238px 0 9px;
}

.u-section-3 .u-text-3 {
  margin: 15px 10px 0 0;
}

.u-section-3 .u-icon-2 {
  font-size: 1.2em;
}

.u-section-3 .u-repeater-item-2 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 304px;
  width: 311px;
  animation-duration: 1000ms;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -42px auto 0 62px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-family: "Akaya Kanadaka";
  margin: 14px 0 0;
}

.u-section-3 .u-icon-3 {
  height: 80px;
  width: 80px;
  animation-duration: 1000ms;
  margin: 0 10px 0 auto;
}

.u-section-3 .u-text-5 {
  font-family: "Akaya Kanadaka";
  font-size: 1.875rem;
  margin: -72px 238px 0 9px;
}

.u-section-3 .u-text-6 {
  margin: 15px 10px 0 0;
}

.u-section-3 .u-icon-4 {
  font-size: 1.2em;
}

.u-section-3 .u-repeater-item-3 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 304px;
  width: 311px;
  animation-duration: 1000ms;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -42px auto 0 62px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  font-family: "Akaya Kanadaka";
  margin: 14px 0 0;
}

.u-section-3 .u-icon-5 {
  height: 80px;
  width: 80px;
  animation-duration: 1000ms;
  margin: 0 10px 0 auto;
}

.u-section-3 .u-text-8 {
  font-family: "Akaya Kanadaka";
  font-size: 1.875rem;
  margin: -72px 238px 0 9px;
}

.u-section-3 .u-text-9 {
  margin: 15px 10px 0 0;
}

.u-section-3 .u-icon-6 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-3 {
    border-style: solid;
    margin-top: 203px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-products-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 8.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 8.66667px));
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 47px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-3 .u-repeater-item-2 {
    padding: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 47px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-repeater-item-3 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-4 {
    margin: 20px 0 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -40px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 47px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-right: 150px;
  }

  .u-section-3 .u-products-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 6.5000025px);
    grid-template-columns: repeat(2, calc(50% - 6.5000025px));
    grid-auto-rows: calc(50% - 6.5px);
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    margin-top: 228px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-products-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 8.666666666666666px);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-item-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    height: 506px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-item-3 {
    height: 506px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    margin-top: 203px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-3 .u-products-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-3 {
    height: 365px;
  }

  .u-section-3 .u-repeater-item-3 {
    height: 365px;
  }
}.u-section-4 {
  text-transform: none;
  font-size: 1rem;
  background-image: none;
  margin: 26px auto 0 0;
}

.u-section-4 .u-sheet-1 {
  min-height: 865px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 181px;
  height: auto;
  animation-duration: 1000ms;
  margin: 10px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 102px;
  height: auto;
  width: 465px;
  margin: 30px auto 0;
}

.u-section-4 .u-products-1 {
  min-height: 693px;
  height: auto;
  grid-auto-rows: 100%;
  width: 1140px;
  margin: -68px -23px 49px auto;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 8.66667px);
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  grid-auto-rows: 100%;
  grid-gap: 13px 13px;
}

.u-section-4 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 304px;
  width: 311px;
  margin: 0 auto 0 -10px;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -42px auto 0 62px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-family: "Akaya Kanadaka";
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-family: "Akaya Kanadaka";
  font-size: 1.875rem;
  margin: 28px 20px 0 0;
}

.u-section-4 .u-repeater-item-2 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 304px;
  width: 311px;
  margin: 0 auto 0 -10px;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -42px auto 0 62px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-family: "Akaya Kanadaka";
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  font-family: "Akaya Kanadaka";
  font-size: 1.875rem;
  margin: 28px 20px 0 0;
}

.u-section-4 .u-repeater-item-3 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 304px;
  width: 311px;
  margin: 0 auto 0 -10px;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -42px auto 0 62px;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  font-family: "Akaya Kanadaka";
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-9 {
  font-family: "Akaya Kanadaka";
  font-size: 1.875rem;
  margin: 28px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    border-style: solid;
    margin-top: 203px;
    animation-duration: 1000ms;
  }

  .u-section-4 .u-group-1 {
    margin-top: -80px;
    height: auto;
  }

  .u-section-4 .u-products-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 8.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 8.66667px));
  }

  .u-section-4 .u-btn-1 {
    margin-top: 148px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -354px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-repeater-item-2 {
    padding: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -40px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-repeater-item-3 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-4 {
    margin: 20px 0 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -40px;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-products-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 6.5000025px);
    grid-template-columns: repeat(2, calc(50% - 6.5000025px));
    grid-auto-rows: calc(50% - 6.5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    margin-top: 228px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-products-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 8.666666666666666px);
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 122px;
  }

  .u-section-4 .u-repeater-item-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    height: 506px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-repeater-item-3 {
    height: 506px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    margin-top: 203px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-4 .u-products-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 148px;
  }

  .u-section-4 .u-container-layout-3 {
    height: 365px;
  }

  .u-section-4 .u-repeater-item-3 {
    height: 365px;
  }
}